/** general styles **/
body .row .row {
  margin-left: 0;
  margin-right: 0;
}

.page-footer a {
  color: #fff;
}

form a {
  font-size: 14px;
}

.spinner-modal {
  padding: 0!important;
  border: none!important;
  background: none!important;
  width: 0!important;
  height: 0!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  margin: 0!important;
}

.csspinner {
  position: fixed!important;
  top: 50vh!important;
  left: 50vw!important;
}

.content {
/* background: linear-gradient(135deg,  rgba(0,0,0,0.26) 0%,rgba(0,0,0,0.26) 1%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); *//* W3C */
}

@media only screen and (min-width: 64.063em) {
  .content { min-height: 100vh; }
  [class*="column"] + [class*="column"]:last-child {
    float: left;
  }

  .graphLinks dd {
    width: 50%;
    text-align: center;
  }
}

span.active {
  color: #9C6A8D;
}
 
/** footer */
.page-footer {
  background: #B6DEDC;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  padding: 10px 0;
}
/** general styles **/
div.centered, dl.centered {
  display: table;
  margin: 0 auto;
}

.license-img{
  margin-bottom: 10px;
}

.authors-footer{
  margin-bottom: 0.1em;
}

img.centered {
  display: block;
  margin: 0 auto;
}

body .row .row {
  margin-left: 0;
  margin-right: 0;
}

.margin-top-3 {
  margin-top: 3vh!important;
}

.padding-top-bottom-2 {
   padding-top: 2vh!important;
   padding-bottom: 2vh!important;
}

svg.centered {
  display: block;
  margin: 0 auto;
}

svg {
  background: white;
}

/** topbar **/

.top-bar .top-bar-section .has-dropdown .dropdown-name {
  color: white;
}

.node {
  cursor: pointer;
}

/** register page **/

.register-button {
  background: #333;
}

/** **/

.node {
  cursor: pointer;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.review-count {
  line-height: 1.7em
}

.aditional-border {
  border: 1px solid #fff; 
}

.aditional-border-inner {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.hover-pointer:hover {
  cursor: pointer;
}

.business-extra-info:hover .aditional-border-inner {
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.business-extra-info:hover .aditional-border {
  border: 1px solid #333; 
}

.business-extra-info {
  text-overflow:ellipsis;
}

.business-extra-info:hover {
  background: #fff;
}

.business-name h2 {
  margin-bottom: 0;
}

.businesses-label {
  font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  overflow: hidden;
}

/* stars */
.star-icon {
  color: #333333;
  font-size: 1.7em;
  position: relative;
}

.star-icon.full:before {
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  color: #9C6A8D;
  content: '\2605'; /* Full star in UTF-8 */
  position: absolute;
  left: 0;
}
.star-icon.half:before {
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  color: #9C6A8D;
  content: '\2605'; /* Full star in UTF-8 */
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}


/* Users graph */

/* user page */

.user-profile .large-6.columns,
.user-profile .large-12.columns.border {
  border: 1px solid #fff;
  /*margin: 2vh 2vw;*/
}

.user-profile .button {
  background: #e7e7e7;
  color: #9C6A8D;
  margin-bottom: 0.2rem;
}

.user-profile .button:hover {
  background: #e7e7e7;
  border: none;
}

.user-profile .button.disabled {
  color: #222222;
}

.user-profile .button.disabled:hover {
  background: none;
  border: 1px solid #fff;
}

#userFriendsModal .large-6.columns.medium-centered.left:hover {
  background: #e7e7e7;
}

#userFriendsModal .large-6.columns.medium-centered.left:last-child {
  margin: 0 0 1.25rem;
}

#userStatisticsModal svg {
  margin: 0 0 1.25rem
}

.user-margin-down {
  margin: 0 0 1.25rem!important;
}

/* ....................................................................... */
/* SVG elements */

div#content svg {
  /*background-color: rgba(255, 255, 255, 0.9);*/ 
  cursor: move;
}

.users-graph circle {
  cursor: crosshair;
}


/* ....................................................................... */
/* Graph labels */

.users-graph g.graph-label {
  font: 10px sans-serif;
  font-weight: normal;
  visibility: hidden;
}

.users-graph g.on {
  visibility: visible;    
}

.users-graph g.zoomed {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  color: #000;
  border: none;
  z-index: 0;
}

.users-graph text {
  font: 10px sans-serif;
  font-weight: normal;
}


.users-graph text.main {
  font: 12px sans-serif;
  font-weight: bold;
}


/*compliments chart */
.compliments-labels {
  font-size: 12px;
}



/* user friends */

.user-friend {
  display: block;
}

/*user review count chart*/



.review-number-axis {
  font: 10px sans-serif
}

.review-number-x.review-number-axis path {
  display: none;
}

.review-number-x {
  font-size: 12px;
}

.review-number-tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 1000;
}

/* Creates a small triangle extender for the tooltip */
.review-number-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}



/* Style northward tooltips differently */
.review-number-tooltip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* filter and search bar */
.side-header {
  background: #52B4AF;
}

.tabs dd > a
{
  background: #52B4AF;
  color: #fff;
  padding: .2rem .4rem;
  font-size: .8em;
}

.tabs dd > a:hover,
.tabs dd.active a {
  background: #9C6A8D;
}

.arrow {
  width: 0; 
  height: 0; 
}

.arrow-right {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white;
}

.arrow-down {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  
  border-right:8px solid white; 
}

.tabs-content.filter-bar{
  background: #52B4AF;
  color: #fff;
}

.search-filter {
  position: relative;
  border: none;
  height: auto;
}

.search-filter-content {
  padding: 0;
  background: #52B4AF;
  position: absolute;
  left: 100%; 
  display: none; 
}

.search-filter-content.visible {
  position: static;
  left: 0;
  display: block;
}

.search-filter-content > div, 
.search-filter-label {
  border: solid 1px #4e4e4e;
  height: 30px;
  padding-top: 6px;
  text-align: center;
}

.search-filter-content > div.numeric {
  padding: 0;
  border: none;
}

.search-filter-content > div.numeric:hover {
  background: #272727;
}

.search-filter-content > div.search-filter {
  border:none;
  height: auto;
  padding: 0;
}

.search-filter-content > div:hover,
.search-filter-label:hover {
  background: #9C6A8D;
  cursor:pointer;
}

.search-filter-content .search-filter-input {
  border: solid 1px #4e4e4e;
  color: white;
  background: #9C6A8D;
  height: 30px;
  padding-top: 6px;
  text-align: center;
  margin: 0;
}

.search-filter-content .search-filter-input:hover,
.search-filter-content .search-filter-input:focus {
  color: white;
  background: #4e4e4e;
}

.search-filter-label.hide {
  display: none;
}

.search-filter-label.active,
.search-filter-content .active {
  background: #9C6A8D;
}

.search-filter-content .numeric-input,
.search-filter-content .numeric-filter-label {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 1.7rem;
  border: solid 1px #4e4e4e;
}

.search-filter-content .numeric-input {
  padding: 0;
  margin: 0;
  text-align: center;
}

.search-filter-content .numeric-filter-label:hover {
  background: #9C6A8D;
}


/**
 * 
 */
.map-canvas{
  height: 80vh; 
  width:100%;
}


.map-user-canvas img, .map-canvas img { 
    max-width: none !important; 
    height: auto !important; 
    background: none !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.b-map-tooltip span
{
  font-size: 13px;
}

.b-map-tooltip h1 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 2px;
}

.b-map-tooltip .stars
{
  margin-bottom: 10px;
}

/** more button **/
.more-button {
  margin-bottom: 2vh;
  margin-top: 10px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle;
  background: #333;
  color: white;
}

.more-button:hover {
  background: #9C6A8D;
  cursor: pointer;
}
.map-user-canvas
{
  height: 50vh; 
  width:100%;
}

/* yreview page */

.yreview {
  padding: 0 2vw;
  margin: 1rem 0!important;
  border-left: 1px solid #9C6A8D;
  border-right: 1px solid #9C6A8D;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.yreview:hover {
  border:none;
}

.yreview:hover .yreview-content{
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  background: #f2f2f2;
}

.yreview:hover h6, .yreview:hover .yreview-text{
  color: #6f6f6f;
}

.yreview:hover a{
  color: #000;
}

.yreview:hover a:hover{
  color: #9C6A8D;
}

.yreview-text {
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.yreview-button-group {
  padding: 0;
}

.yreview-button-group .button-group{
  margin-left: 1rem;
}

.yreview-button-group a:hover{
  cursor: default;
}

.large-75 {
  width: 75%;
}

.large-50 {
  width: 50%;
}

.large-25 {
  width: 25%;
}

div.valign-middle {
  display: table-cell;
  vertical-align: middle;
}

.highlight:hover {
  background: #9C6A8D;
  color: white;
}

.no-highlight:hover {
  color: black;
  background: #f2f2f2;
}

/**
.business-treemap
*/

.business-treemap{
  margin-top: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/* index modal */
.index-modal {
  border: 1px solid black;
}

.index-modal .el {
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-size: 4vh;

}

.top-bar-wrapper{
  background: #52B4AF;
}
.top-bar-wrapper .top-bar {
  background: #52B4AF;
}

.top-bar-wrapper .top-bar-section ul{
  background: #52B4AF;
}
.top-bar-wrapper .top-bar.expanded .title-area{
  background: #52B4AF;
}
.top-bar-wrapper .top-bar.expanded .toggle-topbar a {
  color: #fff;
}

.top-bar-wrapper .top-bar.expanded .toggle-topbar a::after {
  box-shadow: 0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff;
}

.top-bar-wrapper .top-bar-section li a:not(.button) {
    background: #52B4AF !important;   
}

.top-bar-wrapper .top-bar-section li a:not(.button):hover {
    background: #52B4AF !important;   
}
 
.top-bar-wrapper .top-bar-section ul li.active > a {
    background: #52B4AF !important;   
}

.top-bar-wrapper .top-bar-section ul li.active > a:hover {
    background: #52B4AF !important;   
}

button, .button {
  background: #9C6A8D;
}

button, .button {
  background: #9C6A8D;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #BD7EAA; 
}
