/*
(cs)spinner.css - http://jh3y.github.io/-cs-spinner
Licensed under the MIT license

Jhey Tompkins (c) 2014.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/* (cs)spinner base styling */
.csspinner {
  position: relative;
}
.csspinner:before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #999999;
  opacity: 0.6;
}
.csspinner:after {
  z-index: 2;
  content: "";
  height: 90px;
  width: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  transition: all .75s ease 0s;
  border-radius: 100%;
  border-top: 4px solid #008cba;
  animation: standard .75s infinite linear;
  transform-origin: center;
}
.csspinner.no-overlay:before {
  content: none;
  display: none;
}
/* (cs)spinner standard rotation animation used for duo, double-up etc. */
@keyframes standard {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* (cs)spinner traditional spinner.
Makes use of standard animation spin and minimally extends core.*/
.csspinner.traditional:after {
  border-right: 4px solid #777777;
  border-top: 4px solid #777777;
  border-left: 4px solid #008cba;
  border-bottom: 4px solid #bbbbbb;
}